---
name: ci

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
    paths:
      - "**.go"
      - ".github/workflows/ci.yaml"
  workflow_call:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.5"
          cache-dependency-path: "go.sum"

      - run: |
          sudo add-apt-repository ppa:raylib/ppa

          sudo apt-get update

          sudo apt-get install \
            build-essential \
            libasound2-dev \
            libx11-dev \
            libxrandr-dev \
            libxi-dev \
            libgl1-mesa-dev \
            libglu1-mesa-dev \
            libxcursor-dev \
            libxinerama-dev \
            libwayland-dev \
            libxkbcommon-dev \
            raylib

          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - run: golangci-lint run ./...

      - run: go test ./...
